<div class="border">

    <div class="text-center">
        <p class="display-6">Footer Area</p>
        <p>
            Copyright &copy; {{date|date : "yyyy"}} Dev Connector
        </p>
    </div>
    <div class="row container-fluid">
        <div class="col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aut vero quo saepe velit
            suscipit fugit odio molestias. Fuga aliquid natus nostrum suscipit officiis nam veniam deserunt eveniet
            saepe
            culpa?</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo quae odit modi facilis,
            obcaecati laudantium quia minus amet quasi deleniti perspiciatis expedita maiores molestias accusamus nam ad
            ducimus! Commodi?</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam quos deleniti beatae
            fugiat cupiditate doloribus expedita accusamus et, earum saepe minima iure? Laborum amet optio impedit nulla
            earum laudantium.</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sint, earum laudantium
            blanditiis
            quisquam vel magni ipsa doloribus et vero illo cum odit saepe ipsam dolor reiciendis consectetur quo. Unde?
        </div>
    </div>
</div>
<br>
<br>