<div class="container border p-4">
    <div class="jumbotron text-center">
        <h1 class="display-3">Dev Connector</h1>
        <p class="lead">Landing Page</p>
        <hr class="my-2">
        <p>More info</p>
        <div class="lead">
            <div>
                <a class=" m-3 btn btn-light border btn-lg" routerLine="/auth/login" role="button">Login</a>
                <a class="btn m-3 btn-light border btn-lg" routerLink="/auth/register" role="button">Signup</a>
            </div>
        </div>
    </div>
</div>