<h1 class='large text-primary'>Add Your Education</h1>
<p class='lead'>
    <i class='fas fa-code-branch'></i> Add any school or bootcamp
    that you have attended
</p>
<small>* = required field</small>
<form class='form'>
    <div class='form-group mt-2'>
        <input class="form-control" type='text' placeholder='* School or Bootcamp' name='school' required />
    </div>
    <div class='form-group mt-2'>
        <input class="form-control" type='text' placeholder='* Degree or Certificate' name='degree' required />
    </div>
    <div class='form-group mt-2'>
        <input class="form-control" type='text' placeholder='Field of Study' name='fieldofstudy' />
    </div>
    <div class='form-group mt-2'>
        <h4>From Date</h4>
        <input class="form-control" type='date' name='from' />
    </div>
    <div class='form-group mt-2'>
        <p>
            <input class="form-control" type='checkbox' name='current' checked={current} value={current} />
            Current School
        </p>
    </div>
    <div class='form-group mt-2'>
        <h4>To Date</h4>
        <input class="form-control" type='date' name='to' />
    </div>
    <div class='form-group mt-2'>
        <textarea class="form-control" name='description' cols='30' rows='5'
            placeholder='Program Description'></textarea>
    </div>
    <input class="form-control mt-2" type='submit' class='btn btn-primary my-1' />
    <a class='btn btn-light my-1' routerLink='/dashboard'>
        Go Back
    </a>
</form>